<div>

    <p>
        Hi <%= comment.user.name%>!
        <br>
        <br>
        <p>Your comment <strong><%= comment.content%></strong> just got published </p>
        <br>
        <br>
        <p>Thanks!</p>
    </p>


</div>